<app-navbar></app-navbar>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="" class="form-label">Nombre</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label for="" class="form-label">Apellido</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label for="" class="form-label">Correo</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label for="" class="form-label">DNI</label>
            <input type="number" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label for="" class="form-label">Fecha de Nacimiento</label>
            <input type="date" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label for="" class="form-label">Telefono</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-md-4 mb-3">
            <label for="" class="form-label">Imagen</label>
            <input type="file" class="form-control" />
        </div>
    </div>
</div>