<div class="container">
    <h2 class="text-center mt-5">Bienvenido</h2>
    <div class="card mt-5">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3 row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="email" #email>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" (keyup.enter)="logIn(email.value, password.value)" name="password" id="password" #password>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <button type="click" class="btn btn-primary mb-3" (click)="logIn(email.value, password.value)">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>